body{
	background-color: #FFF;
	border: 0;
}
.topo{
	height: 80px;
	background-color: #DDD;
}
.menu{
	height: 40px;
	background-color: #CCC;
}
.menu ul{
	margin: 0px;
	padding:  0px;
	list-style: none;
}
.menu li{
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	color: #000;
}
.menu li a{
	text-decoration: none;
}
.menu li:hover{
	background-color: #000;
	color: #FFF;
}
.container{
	min-height: 200px;
	background-color: #FFF;
}
.rodape{
	height: 80px;
	background-color: #CCC;
}
.home_banner{
	height: 250px;
	background-size: cover;
	background-position: center;
}
.home_banner_txt{
	height: 300px;
	line-height: 300px;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.2);
	margin-top: -300px;
	color: #FFF;
}
.home_cta{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}
.home_cta a{
	text-decoration: none;
	color: #000;
}
.home_cta a div{
	width: 200px;
	height: 40px;
	line-height: 40px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: orange;
	border-radius: 5px;
	margin: auto;
}
.home_depo{
	width: 400px;
	margin: auto;
	margin-top: 20px;
}